:root {
    --cor-vermelho: red;
    --cor-roxo: purple;
    --cor-de-fundo: white;
    --laranja: #cb7942;
    --fonte-principal: "Roboto", sans-serif;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
  }
  
  .cabecalho {
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.05);
    padding: 10px;
  }
  
  #logo {
    width: 60px;
    margin-bottom: -1%;
    position: absolute;
    left: 5%;
    top: 10px
  }
  
  .links-header {
    display: flex;
    position: absolute;
    right: 70px;
    gap: 25px;
  }
  
  #link {
    text-decoration: none;
    color: #cb7842;
    font-weight: 600;
    font-family: var(--fonte-principal);
    font-size: 15px;
    transition: all 100ms;
  }
  
  #link:hover {
    scale: 1.1
  }
  .btn-menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    padding: 2px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #cb7842;
    transition: all 100ms;
  }
  .btn-menu:hover {
    scale:1.1;
  }
  .btn-menu-icon {
    font-size: 25px;
  }
  @media (max-width: 1200px) {
    .links-header {
      display: none
    }
    .btn-menu {
      display: flex;
    }
  }
  @media (max-width: 750px) {
    #logo {
     display: none; 
    }
    .cabecalho {
      height: 50px;
    }
  }
  @media (max-width: 500px) {
    footer.rodape {
      display: none;
    } 
  }
  
  .menu-sidebar {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }
  .sidebar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    background-color: #FFFFFF;
    z-index: 2;
    position: relative;
    gap: 10px;
    animation: sidebar-appear 200ms forwards;
  }
  @keyframes sidebar-appear {
    0% {
      transform: translate(100%, 0);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .x-icon {
    position: absolute;
    top: 25px;
    right: 14%;
    font-size: 30px;
    cursor: pointer;
    transition: all 100ms;
    color: #cb7842;
  }
  .x-icon:hover {
    scale: 1.1;
  
  }
  .sidebar-content-espaco {
    width: 100%;
    height: 90px;
  }
  .sidebar-content-item {
    width: 90%;
    padding: 10px 20px;
    cursor: pointer;
  }
  .sidebar-link {
    color:#cb7942;
    text-decoration: none;
    font-size: 20px;
    transition: all 100ms;
    font-weight: 600;
    font-family: var(--fonte-principal);
  }
  .sidebar-content-item:hover .sidebar-link{
    font-size: 22px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
    gap: 20px;
    padding: 0 8px;
  }
  .banner {
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 6px;
  }
  .banner__img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  .banner__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
  }
  .overlay__text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
  }

  .container-animais {
    display: grid;
    grid-template-columns: repeat(auto-fit, 345px);
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 2%;
  }
  .container-animais-item {
    position: relative;
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 8px;
  }
  .animais-item-img {
    width: 100%;
  }
  .btnFavoritar {
    position: absolute;
    font-size: 23px;
    right: 15px;
    cursor: pointer;
    color: #E31B23
  }
  .animais-item-text {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0 0 0;
  }
  @media (min-width: 1080px) {
    .container-animais {
      grid-template-columns: repeat(3, 3fr);
    }
    .container-animais {
      padding: 0 5%;
    }
  }
  @media (min-width: 460px) and (max-width: 1080px){
    .container-animais {
      grid-template-columns: repeat(auto-fit, 45%);  
    }
  }
  @media (max-width: 400px) {
    .container-animais {
      grid-template-columns: repeat(auto-fit, 100%);  
    }
  }
/* deixa esse CSS por ultimo */
  /* .rodape {
    background-color: #CB7842;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
  }
  
  .div1-rodape {
    display: flex;
    gap: 30px;
    margin-left: 10%;
    align-items: center;
  }
  
  .div1-rodape a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }
  
  .div2-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    gap: 30px;
  }
  
  .div2-rodape p {
    color: white;
  }
  
  #logo-rodape {
    width: 10%;
  }
   */