:root {
    --cor-vermelho: red;
    --cor-roxo: purple;
    --cor-de-fundo: white;
    --laranja: #cb7942;
    --fonte-principal: "Roboto", sans-serif;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
  }
  
  .cabecalho {
    background-color: #cb7842;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #logo {
    width: 7%;
    margin-bottom: -1%;
    margin-left: 4%;
  }
  
  .search-container {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 4px;
    border-radius: 5px;
  }
  
  #search {
    padding: 5px;
    width: 350px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  #btn-search {
    border: none;
    color: white;
    padding: 5px;
    margin-left: 5px;
  }
  
  .links-header {
    display: flex;
    margin-right: 10%;
  }
  
  #link {
    margin-right: 15%;
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--fonte-principal);
  }
  
  #link:hover {
    color: black;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
    gap: 20px;
    padding: 0 8px;
  }
  .banner {
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 6px;
  }
  .banner__img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  .banner__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
  }
  .overlay__text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
  }

  .container-animais {
    display: grid;
    grid-template-columns: repeat(auto-fit, 345px);
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 2%;
  }
  .container-animais-item {
    position: relative;
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 8px;
  }
  .animais-item-img {
    width: 100%;
  }
  .btnFavoritar {
    position: absolute;
    font-size: 23px;
    right: 15px;
    cursor: pointer;
    color: #E31B23
  }
  .animais-item-text {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0 0 0;
  }
  @media (min-width: 1080px) {
    .container-animais {
      grid-template-columns: repeat(3, 3fr);
    }
    .container-animais {
      padding: 0 5%;
    }
  }
  @media (min-width: 460px) and (max-width: 1080px){
    .container-animais {
      grid-template-columns: repeat(auto-fit, 45%);  
    }
  }
  @media (max-width: 400px) {
    .container-animais {
      grid-template-columns: repeat(auto-fit, 100%);  
    }
  }
/* deixa esse CSS por ultimo */
  /* .rodape {
    background-color: #CB7842;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
  }
  
  .div1-rodape {
    display: flex;
    gap: 30px;
    margin-left: 10%;
    align-items: center;
  }
  
  .div1-rodape a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }
  
  .div2-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    gap: 30px;
  }
  
  .div2-rodape p {
    color: white;
  }
  
  #logo-rodape {
    width: 10%;
  }
   */