* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}
:root {
  --cor-vermelho: red;
  --cor-roxo: purple;
  --cor-de-fundo: white;
  --laranja: #cb7842;
}

.cabecalho {
  background-color: #cb7842;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

#logo {
  width: 7%;
  margin-bottom: -1%;
}

#search {
  display: block;
  padding: 8px;
  width: 500px;
  margin: 5 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn btn-secondary {
  background-color: #cb7842;
}

#carouselExampleFade {
  width: 30% !important;
  top: 20px;
  left: 35%;
  height: auto !important;
  justify-content: center !important;
  align-items: center;
}
.titulo-carrossel {
  color: black;
  font-weight: bold;
}
.text-carrossel {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.5rem 0 0 0;
}
.main-conteudo {
  display: grid;
  grid-template-columns: 270px 1fr;
  padding: 2rem;
  width: 100%;
  margin: 1rem 0px;
  gap: 1rem;
}
.container-filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: 0.3rem;
  gap: 12px;
}
.filtro-titulo {
  align-self: flex-start;
  font-weight: 600;
  margin: 3px 0 0 4px;
}
.filtro-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 240px;
  max-height: 250px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  background-color: #FFFFFF;
  gap: 4px
}
.filtro-text {
  font-weight: 600;
  font-size: 16px;
}
.filtro-label {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 8px;
}
.filtro-input {
  width: 18px;
  height: 18px;
}
.container-lista {
  display: flex;
  flex-direction: column;
  gap: 40px
}
.lista-header {

}
.lista-header-titulo {
  margin: 0 0 0 3%;
  font-weight: 600;
}
.container-animais {
  display: grid;
  grid-template-columns: repeat(auto-fit, 345px);
  gap: 8px;
  width: auto;
  justify-content: center;
  width: 100%
}
.container-animais-item {
  position: relative;
  background-color: #ffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 0 1.5rem 1.5rem 0;
}
.container-animais-item:hover .container-animais-item-overlay {
  opacity: 1;
  cursor: pointer;
}
.container-animais-item-overlay {
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.25);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s ease 0.1s;
}
.animais-item-img {
  width: 300px;
}
.animais-item-text {
  font-size: 14px;
  font-weight: 600;
  margin: 1rem 0 0 0;
}

#overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}
.popup {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #FFFFFF;
  max-height: 90vh;
  overflow-y: auto;
}
.popup-img {
  margin: 0 0 10px 0;
  width: 350px;
}
.popup-text {
  margin: 8px 0 2px 0;
  max-width: 300px;
  font-size: 14px;

  word-wrap: break-word;
}

/* deixa esse CSS por ultimo */
.rodape {
  background-color: #CB7842;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.div1-rodape {
  display: flex;
  gap: 30px;
  margin-left: 10%;
  align-items: center;
}

.div1-rodape a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.div2-rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  gap: 30px;
}

.div2-rodape p {
  color: white;
}

#logo-rodape {
  width: 10%;
}

