* {
  padding: 0;
  margin: 0;
}
:root {
  --cor-vermelho: red;
  --cor-roxo: purple;
  --cor-de-fundo: white;
}

.cabecalho {
  background-color: #cb7842;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

#logo {
  width: 7%;
  margin-bottom: -1%;
}

#search {
  display: block;
  padding: 8px;
  width: 500px;
  margin: 5 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn btn-secondary {
  background-color: #cb7842;
}

#carouselExampleFade {
  width: 30% !important;
  top: 20px;
  left: 35%;
  height: auto !important;
  justify-content: center !important;
  align-items: center;
}

.titulo-carrossel {
  color: black;
  font-weight: bold;
}

.text-carrossel {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

/*****************************
********** Darlan ************
*****************************/
.main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-conteudo {
  display: flex;
  flex-wrap: wrap;
  width: 76%;
  margin: 1rem 0px;
}
.container-filtros {
  display: flex;
  position: relative;
  margin: 1rem 1.5rem 0 0;
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.btn-filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.container-animais {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem 0px;
}
.container-animais-item {
  background-color: #ffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 0 1.5rem 1.5rem 0;
}
.animais-item-img {
  width: 300px;
}
.animais-item-text {
  font-size: 14px;
  font-weight: 600;
  margin: 1rem 0 0 0;
}


/* deixa esse CSS por ultimo */
/* .rodape {
  background-color: #CB7842;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.div1-rodape {
  display: flex;
  gap: 30px;
  margin-left: 10%;
  align-items: center;
}

.div1-rodape a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.div2-rodape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2-rodape p {
  color: white;
}

#logo-rodape {
  width: 10%;
}
 */
